* {
    padding: 0;
    margin: 0;
    font-style: normal;
}

body {
    background-color: #F3F3F3;
    width: 1220px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

header .right-head {
    display: flex;
    gap: 25px;
}

header h2 {
    font: 500 50px DM Sans;
    line-height: 48.6px;
    color: #181717;
    ;
}

header .right-head p {
    font: 500 22px DM Sans;
    line-height: 26.4px;
    color: #181717;

}

.top-part {
    display: flex;
    justify-content: space-between;
    margin-top: 153px;
}

.top-part .firstpart h1 {
    font: 500 60px DM Sans;
    line-height: 58.32px;
    color: #181717;
}

.top-part .firstpart p {
    padding-top: 47px;
    font: 400 24px DM Sans;
    line-height: 28.08px;
    color: #606060;
}

.skill-info {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 110px;
    gap: 86px;
    border-bottom: solid #181717 2px;

}

.skill-info div {
    display: flex;
}

.skill-info div h3 {
    font: 500 22px DM Sans;
    line-height: 26.73px;
    color: #181717;
    width: 124px;
}

.skill-info div p {
    font: 400 20px DM Sans;
    line-height: 24.3px;
    color: #181717;
    padding-left: 100px;
}

.feedback {
    display: flex;
}

.feedback .leftpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .leftpart h3 {
    font: 400 32px DM Sans;
    line-height: 37.44px;
    margin-top: 71px;

}

.feedback .leftpart img {
    width: 21px;
    height: 24px;
    margin-top: 35px;
    padding-left: 41px;
}

.feedback p {
    font: 400 32px DM Sans;
    line-height: 37.44px;
    margin-top: 63px;
    margin-left: 510px;
}

footer {
    display: flex;
    padding-top: 135px;
    padding-bottom: 50px;
}

footer .right-part {
    display: flex;
    gap: 32px;
    padding-left: 700px;
}

footer p {
    font: 500 22px DM Sans;
    line-height: 26.4px;
    color: #2429AF;
}

.right-part p {
    font-family: 500 22px DM Sans;
    line-height: 26.4px;
    color: #181717;
}
.right-part{
    margin-left: 120px;
}
